<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tongzhu.welfare.mapper.BuildingMarriageSettingMapper" >
  <resultMap id="BaseResultMap" type="com.tongzhu.welfare.model.BuildingMarriageSetting" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="grade" property="grade" jdbcType="INTEGER" />
    <result column="upgrade_gold" property="upgradeGold" jdbcType="INTEGER" />
    <result column="upgrade_time" property="upgradeTime" jdbcType="INTEGER" />
    <result column="placed_num" property="placedNum" jdbcType="INTEGER" />
    <result column="room_grade" property="roomGrade" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, grade, upgrade_gold, upgrade_time, placed_num, room_grade
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.tongzhu.welfare.model.BuildingMarriageSettingExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tz_building_marriage_setting
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tz_building_marriage_setting
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tz_building_marriage_setting
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.tongzhu.welfare.model.BuildingMarriageSettingExample" >
    delete from tz_building_marriage_setting
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.tongzhu.welfare.model.BuildingMarriageSetting" >
    insert into tz_building_marriage_setting (id, grade, upgrade_gold, 
      upgrade_time, placed_num, room_grade
      )
    values (#{id,jdbcType=INTEGER}, #{grade,jdbcType=INTEGER}, #{upgradeGold,jdbcType=INTEGER}, 
      #{upgradeTime,jdbcType=INTEGER}, #{placedNum,jdbcType=INTEGER}, #{roomGrade,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.tongzhu.welfare.model.BuildingMarriageSetting" >
    insert into tz_building_marriage_setting
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="grade != null" >
        grade,
      </if>
      <if test="upgradeGold != null" >
        upgrade_gold,
      </if>
      <if test="upgradeTime != null" >
        upgrade_time,
      </if>
      <if test="placedNum != null" >
        placed_num,
      </if>
      <if test="roomGrade != null" >
        room_grade,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="grade != null" >
        #{grade,jdbcType=INTEGER},
      </if>
      <if test="upgradeGold != null" >
        #{upgradeGold,jdbcType=INTEGER},
      </if>
      <if test="upgradeTime != null" >
        #{upgradeTime,jdbcType=INTEGER},
      </if>
      <if test="placedNum != null" >
        #{placedNum,jdbcType=INTEGER},
      </if>
      <if test="roomGrade != null" >
        #{roomGrade,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.tongzhu.welfare.model.BuildingMarriageSettingExample" resultType="java.lang.Integer" >
    select count(*) from tz_building_marriage_setting
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tz_building_marriage_setting
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.grade != null" >
        grade = #{record.grade,jdbcType=INTEGER},
      </if>
      <if test="record.upgradeGold != null" >
        upgrade_gold = #{record.upgradeGold,jdbcType=INTEGER},
      </if>
      <if test="record.upgradeTime != null" >
        upgrade_time = #{record.upgradeTime,jdbcType=INTEGER},
      </if>
      <if test="record.placedNum != null" >
        placed_num = #{record.placedNum,jdbcType=INTEGER},
      </if>
      <if test="record.roomGrade != null" >
        room_grade = #{record.roomGrade,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tz_building_marriage_setting
    set id = #{record.id,jdbcType=INTEGER},
      grade = #{record.grade,jdbcType=INTEGER},
      upgrade_gold = #{record.upgradeGold,jdbcType=INTEGER},
      upgrade_time = #{record.upgradeTime,jdbcType=INTEGER},
      placed_num = #{record.placedNum,jdbcType=INTEGER},
      room_grade = #{record.roomGrade,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.tongzhu.welfare.model.BuildingMarriageSetting" >
    update tz_building_marriage_setting
    <set >
      <if test="grade != null" >
        grade = #{grade,jdbcType=INTEGER},
      </if>
      <if test="upgradeGold != null" >
        upgrade_gold = #{upgradeGold,jdbcType=INTEGER},
      </if>
      <if test="upgradeTime != null" >
        upgrade_time = #{upgradeTime,jdbcType=INTEGER},
      </if>
      <if test="placedNum != null" >
        placed_num = #{placedNum,jdbcType=INTEGER},
      </if>
      <if test="roomGrade != null" >
        room_grade = #{roomGrade,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tongzhu.welfare.model.BuildingMarriageSetting" >
    update tz_building_marriage_setting
    set grade = #{grade,jdbcType=INTEGER},
      upgrade_gold = #{upgradeGold,jdbcType=INTEGER},
      upgrade_time = #{upgradeTime,jdbcType=INTEGER},
      placed_num = #{placedNum,jdbcType=INTEGER},
      room_grade = #{roomGrade,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>