<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tongzhu.welfare.mapper.BuildingInfoMapper" >
  <resultMap id="BaseResultMap" type="com.tongzhu.welfare.model.BuildingInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="detailed" property="detailed" jdbcType="VARCHAR" />
    <result column="open_grade" property="openGrade" jdbcType="INTEGER" />
    <result column="open_condition" property="openCondition" jdbcType="INTEGER" />
    <result column="output_gold" property="outputGold" jdbcType="INTEGER" />
    <result column="have_placed" property="havePlaced" jdbcType="INTEGER" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, name, type, detailed, open_grade, open_condition, output_gold, have_placed, create_date, 
    update_date
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.tongzhu.welfare.model.BuildingInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tz_building_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tz_building_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tz_building_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.tongzhu.welfare.model.BuildingInfoExample" >
    delete from tz_building_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.tongzhu.welfare.model.BuildingInfo" >
    insert into tz_building_info (id, name, type, 
      detailed, open_grade, open_condition, 
      output_gold, have_placed, create_date, 
      update_date)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, 
      #{detailed,jdbcType=VARCHAR}, #{openGrade,jdbcType=INTEGER}, #{openCondition,jdbcType=INTEGER}, 
      #{outputGold,jdbcType=INTEGER}, #{havePlaced,jdbcType=INTEGER}, #{createDate,jdbcType=TIMESTAMP}, 
      #{updateDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.tongzhu.welfare.model.BuildingInfo" >
    insert into tz_building_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="detailed != null" >
        detailed,
      </if>
      <if test="openGrade != null" >
        open_grade,
      </if>
      <if test="openCondition != null" >
        open_condition,
      </if>
      <if test="outputGold != null" >
        output_gold,
      </if>
      <if test="havePlaced != null" >
        have_placed,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="detailed != null" >
        #{detailed,jdbcType=VARCHAR},
      </if>
      <if test="openGrade != null" >
        #{openGrade,jdbcType=INTEGER},
      </if>
      <if test="openCondition != null" >
        #{openCondition,jdbcType=INTEGER},
      </if>
      <if test="outputGold != null" >
        #{outputGold,jdbcType=INTEGER},
      </if>
      <if test="havePlaced != null" >
        #{havePlaced,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.tongzhu.welfare.model.BuildingInfoExample" resultType="java.lang.Integer" >
    select count(*) from tz_building_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tz_building_info
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=INTEGER},
      </if>
      <if test="record.detailed != null" >
        detailed = #{record.detailed,jdbcType=VARCHAR},
      </if>
      <if test="record.openGrade != null" >
        open_grade = #{record.openGrade,jdbcType=INTEGER},
      </if>
      <if test="record.openCondition != null" >
        open_condition = #{record.openCondition,jdbcType=INTEGER},
      </if>
      <if test="record.outputGold != null" >
        output_gold = #{record.outputGold,jdbcType=INTEGER},
      </if>
      <if test="record.havePlaced != null" >
        have_placed = #{record.havePlaced,jdbcType=INTEGER},
      </if>
      <if test="record.createDate != null" >
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateDate != null" >
        update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tz_building_info
    set id = #{record.id,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      type = #{record.type,jdbcType=INTEGER},
      detailed = #{record.detailed,jdbcType=VARCHAR},
      open_grade = #{record.openGrade,jdbcType=INTEGER},
      open_condition = #{record.openCondition,jdbcType=INTEGER},
      output_gold = #{record.outputGold,jdbcType=INTEGER},
      have_placed = #{record.havePlaced,jdbcType=INTEGER},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      update_date = #{record.updateDate,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.tongzhu.welfare.model.BuildingInfo" >
    update tz_building_info
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="detailed != null" >
        detailed = #{detailed,jdbcType=VARCHAR},
      </if>
      <if test="openGrade != null" >
        open_grade = #{openGrade,jdbcType=INTEGER},
      </if>
      <if test="openCondition != null" >
        open_condition = #{openCondition,jdbcType=INTEGER},
      </if>
      <if test="outputGold != null" >
        output_gold = #{outputGold,jdbcType=INTEGER},
      </if>
      <if test="havePlaced != null" >
        have_placed = #{havePlaced,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tongzhu.welfare.model.BuildingInfo" >
    update tz_building_info
    set name = #{name,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      detailed = #{detailed,jdbcType=VARCHAR},
      open_grade = #{openGrade,jdbcType=INTEGER},
      open_condition = #{openCondition,jdbcType=INTEGER},
      output_gold = #{outputGold,jdbcType=INTEGER},
      have_placed = #{havePlaced,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>