<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tongzhu.user.mapper.CopyExtraAwardMapper" >
  <resultMap id="BaseResultMap" type="com.tongzhu.user.model.CopyExtraAward" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="level_" property="level" jdbcType="INTEGER" />
    <result column="amount" property="amount" jdbcType="INTEGER" />
    <result column="goods_id" property="goodsId" jdbcType="VARCHAR" />
    <result column="rate_" property="rate" jdbcType="REAL" />
    <result column="name_" property="name" jdbcType="VARCHAR" />
    <result column="consume_goods" property="consumeGoods" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, level_, amount, goods_id, rate_, name_, consume_goods
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.tongzhu.user.model.CopyExtraAwardExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tz_game_copy_extra_award
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tz_game_copy_extra_award
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tz_game_copy_extra_award
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.tongzhu.user.model.CopyExtraAwardExample" >
    delete from tz_game_copy_extra_award
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.tongzhu.user.model.CopyExtraAward" >
    insert into tz_game_copy_extra_award (id, level_, amount, 
      goods_id, rate_, name_, consume_goods
      )
    values (#{id,jdbcType=VARCHAR}, #{level,jdbcType=INTEGER}, #{amount,jdbcType=INTEGER}, 
      #{goodsId,jdbcType=VARCHAR}, #{rate,jdbcType=REAL}, #{name,jdbcType=VARCHAR}, #{consumeGoods,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.tongzhu.user.model.CopyExtraAward" >
    insert into tz_game_copy_extra_award
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="level != null" >
        level_,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="goodsId != null" >
        goods_id,
      </if>
      <if test="rate != null" >
        rate_,
      </if>
      <if test="name != null" >
        name_,
      </if>
      <if test="consumeGoods != null" >
        consume_goods,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        #{level,jdbcType=INTEGER},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=INTEGER},
      </if>
      <if test="goodsId != null" >
        #{goodsId,jdbcType=VARCHAR},
      </if>
      <if test="rate != null" >
        #{rate,jdbcType=REAL},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="consumeGoods != null" >
        #{consumeGoods,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.tongzhu.user.model.CopyExtraAwardExample" resultType="java.lang.Integer" >
    select count(*) from tz_game_copy_extra_award
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tz_game_copy_extra_award
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.level != null" >
        level_ = #{record.level,jdbcType=INTEGER},
      </if>
      <if test="record.amount != null" >
        amount = #{record.amount,jdbcType=INTEGER},
      </if>
      <if test="record.goodsId != null" >
        goods_id = #{record.goodsId,jdbcType=VARCHAR},
      </if>
      <if test="record.rate != null" >
        rate_ = #{record.rate,jdbcType=REAL},
      </if>
      <if test="record.name != null" >
        name_ = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.consumeGoods != null" >
        consume_goods = #{record.consumeGoods,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tz_game_copy_extra_award
    set id = #{record.id,jdbcType=VARCHAR},
      level_ = #{record.level,jdbcType=INTEGER},
      amount = #{record.amount,jdbcType=INTEGER},
      goods_id = #{record.goodsId,jdbcType=VARCHAR},
      rate_ = #{record.rate,jdbcType=REAL},
      name_ = #{record.name,jdbcType=VARCHAR},
      consume_goods = #{record.consumeGoods,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.tongzhu.user.model.CopyExtraAward" >
    update tz_game_copy_extra_award
    <set >
      <if test="level != null" >
        level_ = #{level,jdbcType=INTEGER},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=INTEGER},
      </if>
      <if test="goodsId != null" >
        goods_id = #{goodsId,jdbcType=VARCHAR},
      </if>
      <if test="rate != null" >
        rate_ = #{rate,jdbcType=REAL},
      </if>
      <if test="name != null" >
        name_ = #{name,jdbcType=VARCHAR},
      </if>
      <if test="consumeGoods != null" >
        consume_goods = #{consumeGoods,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tongzhu.user.model.CopyExtraAward" >
    update tz_game_copy_extra_award
    set level_ = #{level,jdbcType=INTEGER},
      amount = #{amount,jdbcType=INTEGER},
      goods_id = #{goodsId,jdbcType=VARCHAR},
      rate_ = #{rate,jdbcType=REAL},
      name_ = #{name,jdbcType=VARCHAR},
      consume_goods = #{consumeGoods,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>