<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tongzhu.user.mapper.ExplorationUserMapper" >
  <resultMap id="BaseResultMap" type="com.tongzhu.user.model.ExplorationUser" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="exploration_id" property="explorationId" jdbcType="INTEGER" />
    <result column="pass_id" property="passId" jdbcType="INTEGER" />
    <result column="star_count" property="starCount" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, user_id, exploration_id, pass_id, star_count
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.tongzhu.user.model.ExplorationUserExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tz_game_exploration_user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tz_game_exploration_user
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tz_game_exploration_user
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.tongzhu.user.model.ExplorationUserExample" >
    delete from tz_game_exploration_user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.tongzhu.user.model.ExplorationUser" >
    insert into tz_game_exploration_user (id, user_id, exploration_id, 
      pass_id, star_count)
    values (#{id,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{explorationId,jdbcType=INTEGER}, 
      #{passId,jdbcType=INTEGER}, #{starCount,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.tongzhu.user.model.ExplorationUser" >
    insert into tz_game_exploration_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="explorationId != null" >
        exploration_id,
      </if>
      <if test="passId != null" >
        pass_id,
      </if>
      <if test="starCount != null" >
        star_count,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="explorationId != null" >
        #{explorationId,jdbcType=INTEGER},
      </if>
      <if test="passId != null" >
        #{passId,jdbcType=INTEGER},
      </if>
      <if test="starCount != null" >
        #{starCount,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.tongzhu.user.model.ExplorationUserExample" resultType="java.lang.Integer" >
    select count(*) from tz_game_exploration_user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tz_game_exploration_user
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=VARCHAR},
      </if>
      <if test="record.explorationId != null" >
        exploration_id = #{record.explorationId,jdbcType=INTEGER},
      </if>
      <if test="record.passId != null" >
        pass_id = #{record.passId,jdbcType=INTEGER},
      </if>
      <if test="record.starCount != null" >
        star_count = #{record.starCount,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tz_game_exploration_user
    set id = #{record.id,jdbcType=VARCHAR},
      user_id = #{record.userId,jdbcType=VARCHAR},
      exploration_id = #{record.explorationId,jdbcType=INTEGER},
      pass_id = #{record.passId,jdbcType=INTEGER},
      star_count = #{record.starCount,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.tongzhu.user.model.ExplorationUser" >
    update tz_game_exploration_user
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="explorationId != null" >
        exploration_id = #{explorationId,jdbcType=INTEGER},
      </if>
      <if test="passId != null" >
        pass_id = #{passId,jdbcType=INTEGER},
      </if>
      <if test="starCount != null" >
        star_count = #{starCount,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tongzhu.user.model.ExplorationUser" >
    update tz_game_exploration_user
    set user_id = #{userId,jdbcType=VARCHAR},
      exploration_id = #{explorationId,jdbcType=INTEGER},
      pass_id = #{passId,jdbcType=INTEGER},
      star_count = #{starCount,jdbcType=INTEGER}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>