<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tongzhu.user.mapper.FightCopyMapper" >
  <resultMap id="BaseResultMap" type="com.tongzhu.user.model.FightCopy" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="copy_name" property="copyName" jdbcType="VARCHAR" />
    <result column="common_count" property="commonCount" jdbcType="INTEGER" />
    <result column="vip_count" property="vipCount" jdbcType="INTEGER" />
    <result column="min_role_level" property="minRoleLevel" jdbcType="INTEGER" />
    <result column="type_" property="type" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, copy_name, common_count, vip_count, min_role_level, type_
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.tongzhu.user.model.FightCopyExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tz_game_fight_copy
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tz_game_fight_copy
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tz_game_fight_copy
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.tongzhu.user.model.FightCopyExample" >
    delete from tz_game_fight_copy
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.tongzhu.user.model.FightCopy" >
    insert into tz_game_fight_copy (id, copy_name, common_count, 
      vip_count, min_role_level, type_
      )
    values (#{id,jdbcType=INTEGER}, #{copyName,jdbcType=VARCHAR}, #{commonCount,jdbcType=INTEGER}, 
      #{vipCount,jdbcType=INTEGER}, #{minRoleLevel,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.tongzhu.user.model.FightCopy" >
    insert into tz_game_fight_copy
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="copyName != null" >
        copy_name,
      </if>
      <if test="commonCount != null" >
        common_count,
      </if>
      <if test="vipCount != null" >
        vip_count,
      </if>
      <if test="minRoleLevel != null" >
        min_role_level,
      </if>
      <if test="type != null" >
        type_,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="copyName != null" >
        #{copyName,jdbcType=VARCHAR},
      </if>
      <if test="commonCount != null" >
        #{commonCount,jdbcType=INTEGER},
      </if>
      <if test="vipCount != null" >
        #{vipCount,jdbcType=INTEGER},
      </if>
      <if test="minRoleLevel != null" >
        #{minRoleLevel,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.tongzhu.user.model.FightCopyExample" resultType="java.lang.Integer" >
    select count(*) from tz_game_fight_copy
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tz_game_fight_copy
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.copyName != null" >
        copy_name = #{record.copyName,jdbcType=VARCHAR},
      </if>
      <if test="record.commonCount != null" >
        common_count = #{record.commonCount,jdbcType=INTEGER},
      </if>
      <if test="record.vipCount != null" >
        vip_count = #{record.vipCount,jdbcType=INTEGER},
      </if>
      <if test="record.minRoleLevel != null" >
        min_role_level = #{record.minRoleLevel,jdbcType=INTEGER},
      </if>
      <if test="record.type != null" >
        type_ = #{record.type,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tz_game_fight_copy
    set id = #{record.id,jdbcType=INTEGER},
      copy_name = #{record.copyName,jdbcType=VARCHAR},
      common_count = #{record.commonCount,jdbcType=INTEGER},
      vip_count = #{record.vipCount,jdbcType=INTEGER},
      min_role_level = #{record.minRoleLevel,jdbcType=INTEGER},
      type_ = #{record.type,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.tongzhu.user.model.FightCopy" >
    update tz_game_fight_copy
    <set >
      <if test="copyName != null" >
        copy_name = #{copyName,jdbcType=VARCHAR},
      </if>
      <if test="commonCount != null" >
        common_count = #{commonCount,jdbcType=INTEGER},
      </if>
      <if test="vipCount != null" >
        vip_count = #{vipCount,jdbcType=INTEGER},
      </if>
      <if test="minRoleLevel != null" >
        min_role_level = #{minRoleLevel,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        type_ = #{type,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tongzhu.user.model.FightCopy" >
    update tz_game_fight_copy
    set copy_name = #{copyName,jdbcType=VARCHAR},
      common_count = #{commonCount,jdbcType=INTEGER},
      vip_count = #{vipCount,jdbcType=INTEGER},
      min_role_level = #{minRoleLevel,jdbcType=INTEGER},
      type_ = #{type,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>