<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tongzhu.user.mapper.ext.ExplorationSettingExtMapper" >
  <resultMap id="BaseResultMap" type="com.tongzhu.user.model.ExplorationSetting" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="exploration_id" property="explorationId" jdbcType="INTEGER" />
    <result column="pass_id" property="passId" jdbcType="INTEGER" />
    <result column="first_exp" property="firstExp" jdbcType="INTEGER" />
    <result column="nex_exp" property="nexExp" jdbcType="INTEGER" />
  </resultMap>

  <insert id="batchInsert" parameterType="java.util.List" >
    insert into tz_game_exploration_setting (id, exploration_id, pass_id, 
      first_exp, nex_exp)
    values
     <foreach collection="list" index="index" item="item" separator=",">
       (
       #{item.id,jdbcType=VARCHAR},
       #{item.explorationId,jdbcType=INTEGER},
       #{item.passId,jdbcType=INTEGER},
       #{item.firstExp,jdbcType=INTEGER},
       #{item.nexExp,jdbcType=INTEGER}
       )
     </foreach>
  </insert>
</mapper>