<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tongzhu.fishing.mapper.FishingSecretOperationMapper" >
  <resultMap id="BaseResultMap" type="com.tongzhu.fishing.model.FishingSecretOperation" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="number_fishing" property="numberFishing" jdbcType="INTEGER" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="common_fish_awards" property="commonFishAwards" jdbcType="VARCHAR" />
    <result column="common_total" property="commonTotal" jdbcType="INTEGER" />
    <result column="senior_fish_awards" property="seniorFishAwards" jdbcType="VARCHAR" />
    <result column="senior_total" property="seniorTotal" jdbcType="INTEGER" />
    <result column="rare_fish_awards" property="rareFishAwards" jdbcType="VARCHAR" />
    <result column="rare_total" property="rareTotal" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, number_fishing, create_date, update_date, common_fish_awards, common_total, senior_fish_awards, 
    senior_total, rare_fish_awards, rare_total
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.tongzhu.fishing.model.FishingSecretOperationExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tz_fishing_secret_operation
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tz_fishing_secret_operation
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tz_fishing_secret_operation
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.tongzhu.fishing.model.FishingSecretOperationExample" >
    delete from tz_fishing_secret_operation
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.tongzhu.fishing.model.FishingSecretOperation" >
    insert into tz_fishing_secret_operation (id, number_fishing, create_date, 
      update_date, common_fish_awards, common_total, 
      senior_fish_awards, senior_total, rare_fish_awards, 
      rare_total)
    values (#{id,jdbcType=INTEGER}, #{numberFishing,jdbcType=INTEGER}, #{createDate,jdbcType=TIMESTAMP}, 
      #{updateDate,jdbcType=TIMESTAMP}, #{commonFishAwards,jdbcType=VARCHAR}, #{commonTotal,jdbcType=INTEGER}, 
      #{seniorFishAwards,jdbcType=VARCHAR}, #{seniorTotal,jdbcType=INTEGER}, #{rareFishAwards,jdbcType=VARCHAR}, 
      #{rareTotal,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.tongzhu.fishing.model.FishingSecretOperation" >
    insert into tz_fishing_secret_operation
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="numberFishing != null" >
        number_fishing,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="commonFishAwards != null" >
        common_fish_awards,
      </if>
      <if test="commonTotal != null" >
        common_total,
      </if>
      <if test="seniorFishAwards != null" >
        senior_fish_awards,
      </if>
      <if test="seniorTotal != null" >
        senior_total,
      </if>
      <if test="rareFishAwards != null" >
        rare_fish_awards,
      </if>
      <if test="rareTotal != null" >
        rare_total,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="numberFishing != null" >
        #{numberFishing,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="commonFishAwards != null" >
        #{commonFishAwards,jdbcType=VARCHAR},
      </if>
      <if test="commonTotal != null" >
        #{commonTotal,jdbcType=INTEGER},
      </if>
      <if test="seniorFishAwards != null" >
        #{seniorFishAwards,jdbcType=VARCHAR},
      </if>
      <if test="seniorTotal != null" >
        #{seniorTotal,jdbcType=INTEGER},
      </if>
      <if test="rareFishAwards != null" >
        #{rareFishAwards,jdbcType=VARCHAR},
      </if>
      <if test="rareTotal != null" >
        #{rareTotal,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.tongzhu.fishing.model.FishingSecretOperationExample" resultType="java.lang.Integer" >
    select count(*) from tz_fishing_secret_operation
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tz_fishing_secret_operation
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.numberFishing != null" >
        number_fishing = #{record.numberFishing,jdbcType=INTEGER},
      </if>
      <if test="record.createDate != null" >
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateDate != null" >
        update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.commonFishAwards != null" >
        common_fish_awards = #{record.commonFishAwards,jdbcType=VARCHAR},
      </if>
      <if test="record.commonTotal != null" >
        common_total = #{record.commonTotal,jdbcType=INTEGER},
      </if>
      <if test="record.seniorFishAwards != null" >
        senior_fish_awards = #{record.seniorFishAwards,jdbcType=VARCHAR},
      </if>
      <if test="record.seniorTotal != null" >
        senior_total = #{record.seniorTotal,jdbcType=INTEGER},
      </if>
      <if test="record.rareFishAwards != null" >
        rare_fish_awards = #{record.rareFishAwards,jdbcType=VARCHAR},
      </if>
      <if test="record.rareTotal != null" >
        rare_total = #{record.rareTotal,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tz_fishing_secret_operation
    set id = #{record.id,jdbcType=INTEGER},
      number_fishing = #{record.numberFishing,jdbcType=INTEGER},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      common_fish_awards = #{record.commonFishAwards,jdbcType=VARCHAR},
      common_total = #{record.commonTotal,jdbcType=INTEGER},
      senior_fish_awards = #{record.seniorFishAwards,jdbcType=VARCHAR},
      senior_total = #{record.seniorTotal,jdbcType=INTEGER},
      rare_fish_awards = #{record.rareFishAwards,jdbcType=VARCHAR},
      rare_total = #{record.rareTotal,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.tongzhu.fishing.model.FishingSecretOperation" >
    update tz_fishing_secret_operation
    <set >
      <if test="numberFishing != null" >
        number_fishing = #{numberFishing,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="commonFishAwards != null" >
        common_fish_awards = #{commonFishAwards,jdbcType=VARCHAR},
      </if>
      <if test="commonTotal != null" >
        common_total = #{commonTotal,jdbcType=INTEGER},
      </if>
      <if test="seniorFishAwards != null" >
        senior_fish_awards = #{seniorFishAwards,jdbcType=VARCHAR},
      </if>
      <if test="seniorTotal != null" >
        senior_total = #{seniorTotal,jdbcType=INTEGER},
      </if>
      <if test="rareFishAwards != null" >
        rare_fish_awards = #{rareFishAwards,jdbcType=VARCHAR},
      </if>
      <if test="rareTotal != null" >
        rare_total = #{rareTotal,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tongzhu.fishing.model.FishingSecretOperation" >
    update tz_fishing_secret_operation
    set number_fishing = #{numberFishing,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      common_fish_awards = #{commonFishAwards,jdbcType=VARCHAR},
      common_total = #{commonTotal,jdbcType=INTEGER},
      senior_fish_awards = #{seniorFishAwards,jdbcType=VARCHAR},
      senior_total = #{seniorTotal,jdbcType=INTEGER},
      rare_fish_awards = #{rareFishAwards,jdbcType=VARCHAR},
      rare_total = #{rareTotal,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>