<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tongzhu.treehouse.mapper.ext.UserWorkPositionExtMapper" >
  <resultMap id="BaseResultMap" type="com.tongzhu.treehouse.model.UserWorkPosition" >
    <id column="work_position_id" property="workPositionId" jdbcType="VARCHAR" />
    <result column="work_type_id" property="workTypeId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="worker_id" property="workerId" jdbcType="VARCHAR" />
    <result column="status_" property="status" jdbcType="INTEGER" />
    <result column="order_" property="order" jdbcType="INTEGER" />
    <result column="start_date" property="startDate" jdbcType="TIMESTAMP" />
    <result column="stop_date" property="stopDate" jdbcType="TIMESTAMP" />
    <result column="last_time" property="lastTime" jdbcType="INTEGER" />
    <result column="work_status" property="workStatus" jdbcType="INTEGER" />
  </resultMap>

  <insert id="insertBatch" parameterType="java.util.List">
    insert into tz_user_work_position (work_position_id, work_type_id, user_id,
    worker_id, status_, order_,
    start_date, stop_date, last_time,
    work_status
    )
    values
    <foreach collection ="list" item="workPosition" index= "index" separator =",">
      (
      #{workPosition.workPositionId,jdbcType=VARCHAR},
      #{workPosition.workTypeId,jdbcType=INTEGER},
      #{workPosition.userId,jdbcType=VARCHAR},
      #{workPosition.workerId,jdbcType=VARCHAR},
      #{workPosition.status,jdbcType=INTEGER},
      #{workPosition.order,jdbcType=INTEGER},
      #{workPosition.startDate,jdbcType=TIMESTAMP},
      #{workPosition.stopDate,jdbcType=TIMESTAMP},
      #{workPosition.lastTime,jdbcType=INTEGER},
      #{workPosition.workStatus,jdbcType=INTEGER}
      )
    </foreach >

  </insert>

  <update id="updateForReleaseWorker" parameterType="map">
    UPDATE tz_user_work_position
    SET worker_id=NULL ,
        work_status=0,
        start_date=NULL ,
        stop_date=#{stopDate,jdbcType=TIMESTAMP},
        last_time=#{lastTime,jdbcType=INTEGER}
    WHERE user_id=#{userId,jdbcType=VARCHAR} AND worker_id=#{workerId,jdbcType=VARCHAR}
  </update>
</mapper>