<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tongzhu.friend.mapper.DailyTaskExpInfoMapper" >
  <resultMap id="BaseResultMap" type="com.tongzhu.friend.model.DailyTaskExpInfo" >
    <id column="level" property="level" jdbcType="INTEGER" />
    <result column="primary_exp" property="primaryExp" jdbcType="INTEGER" />
    <result column="intermediate_exp" property="intermediateExp" jdbcType="INTEGER" />
    <result column="advanced_exp" property="advancedExp" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    level, primary_exp, intermediate_exp, advanced_exp
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.tongzhu.friend.model.DailyTaskExpInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tz_daily_task_exp_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tz_daily_task_exp_info
    where level = #{level,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tz_daily_task_exp_info
    where level = #{level,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.tongzhu.friend.model.DailyTaskExpInfoExample" >
    delete from tz_daily_task_exp_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.tongzhu.friend.model.DailyTaskExpInfo" >
    insert into tz_daily_task_exp_info (level, primary_exp, intermediate_exp, 
      advanced_exp)
    values (#{level,jdbcType=INTEGER}, #{primaryExp,jdbcType=INTEGER}, #{intermediateExp,jdbcType=INTEGER}, 
      #{advancedExp,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.tongzhu.friend.model.DailyTaskExpInfo" >
    insert into tz_daily_task_exp_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="level != null" >
        level,
      </if>
      <if test="primaryExp != null" >
        primary_exp,
      </if>
      <if test="intermediateExp != null" >
        intermediate_exp,
      </if>
      <if test="advancedExp != null" >
        advanced_exp,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="level != null" >
        #{level,jdbcType=INTEGER},
      </if>
      <if test="primaryExp != null" >
        #{primaryExp,jdbcType=INTEGER},
      </if>
      <if test="intermediateExp != null" >
        #{intermediateExp,jdbcType=INTEGER},
      </if>
      <if test="advancedExp != null" >
        #{advancedExp,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.tongzhu.friend.model.DailyTaskExpInfoExample" resultType="java.lang.Integer" >
    select count(*) from tz_daily_task_exp_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tz_daily_task_exp_info
    <set >
      <if test="record.level != null" >
        level = #{record.level,jdbcType=INTEGER},
      </if>
      <if test="record.primaryExp != null" >
        primary_exp = #{record.primaryExp,jdbcType=INTEGER},
      </if>
      <if test="record.intermediateExp != null" >
        intermediate_exp = #{record.intermediateExp,jdbcType=INTEGER},
      </if>
      <if test="record.advancedExp != null" >
        advanced_exp = #{record.advancedExp,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tz_daily_task_exp_info
    set level = #{record.level,jdbcType=INTEGER},
      primary_exp = #{record.primaryExp,jdbcType=INTEGER},
      intermediate_exp = #{record.intermediateExp,jdbcType=INTEGER},
      advanced_exp = #{record.advancedExp,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.tongzhu.friend.model.DailyTaskExpInfo" >
    update tz_daily_task_exp_info
    <set >
      <if test="primaryExp != null" >
        primary_exp = #{primaryExp,jdbcType=INTEGER},
      </if>
      <if test="intermediateExp != null" >
        intermediate_exp = #{intermediateExp,jdbcType=INTEGER},
      </if>
      <if test="advancedExp != null" >
        advanced_exp = #{advancedExp,jdbcType=INTEGER},
      </if>
    </set>
    where level = #{level,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tongzhu.friend.model.DailyTaskExpInfo" >
    update tz_daily_task_exp_info
    set primary_exp = #{primaryExp,jdbcType=INTEGER},
      intermediate_exp = #{intermediateExp,jdbcType=INTEGER},
      advanced_exp = #{advancedExp,jdbcType=INTEGER}
    where level = #{level,jdbcType=INTEGER}
  </update>
</mapper>